.root {
    -fx-background-color: linear-gradient(to bottom right, #834d9b, #d04ed6);
}

.anchor-pane {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 20;
}

.button, .primary {
    -fx-background-color: #673ab7;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 10px;
}

.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-padding: 5px;
}

.label {
    -fx-text-fill: white;
}

.check-box, .hyperlink {
    -fx-text-fill: white;
}
